name: "Repository URL checker"

on:
  workflow_dispatch:
  schedule:
    # 03h43Z everyday
    - cron: '43 3 * * *'

jobs:
  check_urls:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: "Check URLs"
        run: |
          pip install -r requirements.txt
          ./script/check/check_urls.py
